// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// Variables
$primary:	hsl(28, 100%, 50%);
$secondary:	hsl(28, 100%, 45%);
$light:		hsl(30, 23%, 95%);
$dark:      hsl(28, 10%, 14%);
$gray:		hsl(28, 10%, 97%);

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;

.fullheight{
    min-height: calc(100vh - 56px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: hsl(0, 0%, 0%);
    padding: 20px;
    border-radius: 10px;
}

.car {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid hsl(28, 100%, 45%);
    background-color: hsl(30, 23%, 95%);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.car p {
    margin: 5px 0;
}

.make {
    font-weight: bold;
    font-size: 28px;
    color: hsl(28, 10%, 14%);
    grid-column: span 3;
}

.license {
    background: #f0b504 none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    grid-column: span 4;
    position: relative; /* Nodig voor het plaatsen van het ::before element */
}

.license::before {
    content: "NL";
    background-color: #2b4c9c;
    color: white;
    padding: 0px 10px;
    border-radius: 3px;
    position: absolute;
    top: -0px; /* Aanpassen om de positie te verplaatsen */
    left: -1px; /* Aanpassen om de positie te verplaatsen */
}

.licenseinput {
    place-items: center;
    background: #f0b504 none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    grid-column: span 4;
    position: relative; /* Nodig voor het plaatsen van het ::before element */
}

.licenseNl {
    content: "NL";
    background-color: #2b4c9c;
    color: white;
    padding: 2px 20px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
}

.gobutton {
    margin-left: 10%;
    background-color: hsl(28, 100%, 50%); 
    padding: 0% 5%;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
  }
  
  .gobutton:hover {
    background-color: #45a049; /* Donkerder groene kleur bij hover */
  }

.flex{
    display: flex;
}

.phase-1 {
    place-items: center;
    border: 2px solid hsl(28, 100%, 45%);
    background-color: hsl(30, 23%, 95%);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 1% auto; 
    max-width: 70%;
  }

  .text{
    font-weight: bold;
  }

.form-group {
    border: 2px solid hsl(28, 100%, 45%);
    background-color: hsl(30, 23%, 95%);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .frame {
    margin-top: 1%;
    border: 2px solid #000;
    background-color: black;
    border-radius: 15px;
    padding: 20px;
  }
  

.price {
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    grid-column: span 3; /* Pas grid-column aan voor price */
}

.price::before {
    content: "€ ";
}

.mileage {
    color: hsl(0, 0%, 0%);
    font-size: 16px;
    grid-column: span 3; /* Pas grid-column aan voor mileage */
}

.mileage::after {
    content: " Km";
}

.form-group 
{
    display: flex;
    flex-flow: column;
}

.form-group-H
{
    display: flex;
    flex-flow: column;
}


